.icon {
  width: 40px;
  height: 40px;
  border: none;
  transition: transform 600ms;

  &--burger {
    background: url(../img/ic/burger.svg) no-repeat 50% 50%;
  }

  &--close-burger {
    background: url(../img/ic/close-burger.svg) no-repeat 50% 50%;
  }
  &--close {
    background: url(../img/ic/close-burger.svg) no-repeat 50% 50%;
    position: relative;
    left: 20px;
    top: 25px;
  }

  &--call {
    background: url(../img/ic/call.svg) no-repeat 50% 50%;
    display: none;
  }

  &--call-menu {
    background: url(../img/ic/call.svg) no-repeat 50% 50%;
  }

  &--chat {
    background: url(../img/ic/chat.svg) no-repeat 50% 50%;
    display: none;
  }

  &--chat-menu {
    background: url(../img/ic/chat.svg) no-repeat 50% 50%;
  }

  &--profile {
    background: url(../img/ic/profile.svg) no-repeat 50% 50%;
    display: none;
  }

  &--profile-menu {
    background: url(../img/ic/profile.svg) no-repeat 50% 50%;
  }

  &--repair {
    background: url(../img/ic/repair.svg) no-repeat 50% 50%;
  }

  &--checkstatus {
    background: url(../img/ic/checkstatus.svg) no-repeat 50% 50%;
  }

  &--search-menu {
    background: url(../img/ic/search.svg) no-repeat 50% 50%;
  }

  @media (min-width: 768px) and (max-width: 1365.98px) {
    &--call {
      display: block;
    }

    &--chat {
      display: block;
    }

    &--profile {
      display: block;
    }

    &--close {
      position: absolute;
      left: -75px;
      top: 25px;
    }
  }

  @media (min-width: 1366px) {
    &:hover {
      opacity: 0.5;
    }
    &--repair {
      background: url(../img/ic/repair.svg) no-repeat 50% 50%;
    }

    &--checkstatus {
      background: url(../img/ic/checkstatus.svg) no-repeat 50% 50%;
    }

    &--close-burger {
      display: none;
    }

    &--close {
      position: absolute;
      left: -75px;
      top: 25px;
    }
  }
}
