.item-button {
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
  margin-bottom: 10px;

  &--icon {
    width: 20px;
    height: 20px;
    background: url(../img/ic/expand.svg) no-repeat 0 50%;
    transition: transform 1200ms;
  }

  &--text {
    font-family: 'TT Lakes', sans-serif;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 500;
  }

  @media (min-width: 1366px) {
    &:hover {
      opacity: 0.5;
    }
  }
}
