.mobile-menu-container {
  font-family: 'TT Lakes', sans-serif;
  min-width: 320px;
  max-width: 768px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: $white;
  position: fixed;
  left: -768px;
  transition: left 1000ms, opacity 1000ms;
  z-index: 20;

  @media (min-width: 768px) and (max-width: 1365.98px) {
    min-width: 320px;
    max-width: 320px;
    position: fixed;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 320px;
      height: 100vh;
      width: 60px;
      background: linear-gradient(90deg, $shadow-menu 0, transparent 80%);
    }
  }

  @media (min-width: 1366px) {
    min-width: 320px;
    max-width: 320px;
    max-height: 900px;
    position: static;
  }
}
