$white: white;
$black: black;
$background: #f8f8f8;
$separator: #d9fff5;
$gray-text: #7e7e82;
$active: #b8ffec;
$border-button: #eaeaea;
$icon: #ff3e79;
$pagination: #dddddd;
$pagination-acive: #b5b6bc;
$placeholder: #b5b6bc;
$shadow: rgb(177, 177, 177);
$shadow-menu: rgba(69, 79, 126, 0.2);
